@import "tailwindcss";

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary-ligther: #9898EF;
  --color-primary: #9381FF;
  --color-primary-darker: #7371FF;
  --color-secondary-lighter: #FFEEDD;
  --color-secondary: #FFD8BE;
}

:root {
  --color-primary-ligther: #9898EF;
  --color-primary: #9381FF;
  --color-primary-darker: #7371FF;
  --color-secondary-lighter: #FFEEDD;
  --color-secondary: #FFD8BE;
}